@model Odin.Data.Core.Models.Appointment
<div id="appointmentBlock">
	
			@Html.DisplayNameFor(Model => Model.ScheduledDate)
			@Html.DatePicker("date", "ScheduledDate", Model.ScheduledDate)
			@Html.DisplayNameFor(Model => Model.Description)
			@Html.EditorFor(Model => Model.Description, new { htmlAttributes = new { @class = "form-control", @type="input", @style="max-width:100%" } })
		</div>
	</div>
</div>
@Styles.Render("~/Styling/appointment")
<script>

</script>