@*@model IEnumerable<Odin.ViewModels.Shared.NotificationViewModel>*@

@model IEnumerable<Odin.ViewModels.Orders.Transferee.HistoryViewModel>

    @Styles.Render("~/Styling/history")

    <div id="history" class="sectionTitle">
        History Panel
    </div>

    <hr class="historydivider">






    @*<table id="tblnotificationhistory" border="1" width="100%" class="table table-striped">
            <tr>
                <td>
                    Notification Type
                </td>

                <td>

                    Notification Message
                </td>
                <td>

                    Notification Title
                </td>
                <td>

                    Notification Created At
                </td>
                <td>

                    Transferee Name
                </td>
            </tr>

            @foreach (var notification in Model)
                {
                <tr>
                    <td>Order Created</td>
                    <td id="tdnotificationhistory">
                        @notification.NotificationMessage
                    </td>
                    <td id="tdnotificationhistory">
                        @notification.NotificationTitle
                    </td>
                    <td id="tdnotificationhistory">
                        @notification.NotificationMessage
                    </td>
                    <td id="tdnotificationhistory">
                        @notification.NotificationOrderTransfereeFullName
                    </td>
                </tr>


            }



        </table>*@   
    @if (Model == null)
    {<div>No History to show</div> }
    else
    {
        foreach (var notification in Model)
        {
            <div>
                <div>
                    <b>@notification.Title: </b> @notification.Message for <a href="/Orders/Transferee/@notification.OrderId" class="notifications">@notification.OrderTransfereeFullName</a>
                </div>
                <div>
                    @notification.MyNotificationCreatedAt
                </div>
            </div>
            <br />
        }
    }
