@model Odin.ViewModels.Orders.Transferee.HousingViewModel

<div class="container-fluid" id="housing">  
    <div class="row" id="housingSummaryMap">        
        <div class="col-md-4">
            <h1 class="sectionTitle">Housing Summary</h1>
            <ul class="row sectionList">
                <li class="col-md-6">
                    <label>@Html.DisplayNameFor(model => model.HousingBudget)</label>
                    <p>@Html.DisplayFor(model => model.HousingBudget)</p>
                </li>
                <li class="col-md-6">
                    <label>@Html.DisplayNameFor(model => model.NumberOfBedrooms)</label>
                    <p>@Html.DisplayFor(model => model.NumberOfBedrooms)</p>
                </li>
                <li class="col-md-6">
                    <label>@Html.DisplayNameFor(model => model.NumberOfPets)</label>
                    <p>@Html.DisplayFor(model => model.NumberOfPets) </p>
                </li>
                <li class="col-md-6">
                    <label>@Html.DisplayNameFor(model => model.TransportationTypeString)</label>
                    <p>@Html.DisplayFor(model => model.TransportationTypeString)</p>
                </li>
                <li class="col-md-6">
                    <label>@Html.DisplayNameFor(model => model.HousingTypeString)</label>
                    <p>@Html.DisplayFor(model => model.HousingTypeString)</p>
                </li>
                <li class="col-md-6">
                    <label>@Html.DisplayNameFor(model => model.NumberOfBathroomsString)</label>
                    <p>@Html.DisplayFor(model => model.NumberOfBathroomsString)</p>
                </li>
                <li class="col-md-6">
                    <label>@Html.DisplayNameFor(model => model.MaxCommute)</label>
                    <p>@Html.DisplayFor(model => model.MaxCommute)</p>
                </li>
                <li class="col-md-6">
                    <label>@Html.DisplayNameFor(model => model.SpouceAndKids)</label>
                    <p>@Html.DisplayFor(model => model.SpouceAndKids)</p>
                </li>
            </ul>
        </div>
        <div class="col-md-8 mapWrapper">
            <img src="~/Content/Images/map_placeholder.png" />
        </div>
    </div>
    <div class="row" id="propertiesControls">
        <form class="col-sm-6" id="housingFilter">
            <label class="housingFilter__title">Filter:</label>
            <label>
                @Html.RadioButton("Filter", "New", true)
                <span>New</span>
            </label>
            <label>
                @Html.RadioButton("Filter", "Like", false)
                <span>Like</span>
            </label>
            <label>
                @Html.RadioButton("Filter", "Dislike", false)
                <span>Dislike</span>
            </label>
        </form>
        <div class="col-sm-6" id="addProperty" >
            <span>Add Property</span>
            <img src="~/Content/Images/btn_add_home.png" />
        </div>
    </div>

    <ul class="row" id="propertiesList">
        <li class="row" id="propertiesHeader">
            <div class="col-md-1">
                <p>@Html.DisplayNameFor(model => model.Properties.ElementAt(0).Photos)</p>
            </div>
            <div class="col-md-2">
                <p>@Html.DisplayNameFor(model => model.Properties.ElementAt(0).Address)</p>
            </div>
            <div class="col-md-2">
                <p>@Html.DisplayNameFor(model => model.Properties.ElementAt(0).Availability)</p>
            </div>
            <div class="col-md-2">
                <p>@Html.DisplayNameFor(model => model.Properties.ElementAt(0).Specifications)</p>
            </div>
            <div class="col-md-3">
                <p>@Html.DisplayNameFor(model => model.Properties.ElementAt(0).ViewingDateDisplay)</p>
            </div>
            <div class="col-md-1">
                <p>@Html.DisplayNameFor(model => model.Properties.ElementAt(0).IsLike)</p>
            </div>
            <div class="col-md-1">
                <p>@Html.DisplayNameFor(model => model.Properties.ElementAt(0).Comments)</p>
            </div>
        </li>
        <li class="row propertyItem">
            <div class="col-md-1">
                <img class="location" src="~/Content/Images/popout_sml_img.png" />
            </div>
            <div class="col-md-2">
                <p>
                    1234 Meadow Rd<br />
                    Renton, WA
                </p>
            </div>
            <div class="col-md-2">
                <p>
                    Available<br />
                    12/12/2018
                </p>
            </div>
            <div class="col-md-2">
                <p>
                    4 | 3<br />
                    2,200 sq.ft
                </p>
            </div>
            <div class="col-md-3">
                @Html.DatePicker("date", "ViewingDate", false)
            </div>
            <div class="col-md-1 like">
                <img src="~/Content/Images/icn_ln_selected_like.png" />
            </div>
            <div class="col-md-1 comments">
                <img src="~/Content/Images/icn_chat_bubble.png" />
                <span>09</span>
            </div>
        </li>    
    </ul>
    @*@for (int i = 0; i < Model.Properties.Count(); i++)
    {
        <div class="row" sel="new" style="display: none;">
            <div class="col-md-2">
                <img class="location" src="~/Content/Images/popout_sml_img.png" />
            </div>
            <div class="col-md-2">
                <p>@Html.DisplayFor(model => model.Properties.ElementAt(i).Address)</p>
            </div>
            <div class="col-md-2">
                <p>@Html.DisplayFor(model => model.Properties.ElementAt(i).Availability)</p>
            </div>
            <div class="col-md-2">
                <p>@Html.DisplayFor(model => model.Properties.ElementAt(i).Specifications)</p>
            </div>
            <div class="col-md-2">
                <p>@Html.DisplayFor(model => Html.DatePicker("date", "ViewingDate", model.Properties.ElementAt(i).ViewingDateDisplay))</p>
            </div>
            <div class="col-md-1 likebtns">
                @if (Model.Properties.ElementAt(i).IsLike == false)
                {
                    <img class="dislike noinit" src="~/Content/Images/icn_ln_selected_dislike.png" />
                }
                else if (Model.Properties.ElementAt(i).IsLike == true)
                {
                    <img class="like noinit" src="~/Content/Images/icn_ln_selected_like.png" />
                }
                else
                {
                    <img class="new" src="~/Content/Images/icn_ln_non_selected_like.png" />
                }
            </div>
            <div class="col-md-2 comments">
                <img class="comment" src="~/Content/Images/icn_chat_bubble.png" />
                @if (Model.Properties.ElementAt(i).Comments.Count() > 0)
                {
                    <span> Model.Properties.ElementAt(i).Comments.Count().ToString("##00")</span>
                }
            </div>
        </div>
    }*@

    @*closing the properties div*@

    <div id="chat" style="display: none;">
        <div id = "addr" >
            <span> Last Message</span><span id = "lastchat" > 01:45 PM</span>
        </div>
        <div id = "chatwrapper" >
            <div id="chatframe">
                <ul>
                    <li>
                        <img src="~/Content/Images/icn_chat_2.png" /><span > Joyce Damino</span>
                        <div>
                            <p>Would you like to go see 1234 MeadowRd on the 11th of November?</p>
                        </div>
                    </li>
                    <li>
                        <img src="~/Content/Images/icn_chat_1.png" /><span > Victoria Sporer</span>
                        <div>
                            <p>Yes, I would like to go visit 1234 Meadow Rd.That will work well, I am bringing the kids.</p>
                        </div>
                    </li>
                    <li>
                        <img src="~/Content/Images/icn_chat_2.png" /><span > Joyce Damino</span>
                        <div>
                            <p>Sounds good, I will see you all there at 10am?</p>
                        </div>
                    </li>
                    <li>
                        <img src="~/Content/Images/icn_chat_2.png" /><span > Joyce Damino</span>
                        <div>
                            <p>Would you like to go see 1232 RoseLn on the 11th of November</p>
                        </div>
                    </li>
                    <li>
                        <img src="~/Content/Images/icn_chat_1.png" /><span > Victoria Sporer</span>
                        <div>
                            <p>Yes, I would like to go visit 1232 RoseLn.That will work well, we can do this one in the afternoon.</p>
                        </div>
                    </li>
                    <li>
                        <img src="~/Content/Images/icn_chat_2.png" /><span > Joyce Damino</span>
                        <div>
                            <p>Sounds good, I will call and make sure we can get in then.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div id = "comment" >
                < p > Comment </ p >
            </div >
            < button > Close </ button >
            < button > Send </ button >
        </div >
    </div >
    <div id= "property" style="display: none;" >
        <div class="row">
            <div class="col-md-5">
                <span>Available: </span><span>November 12th 2017</span>
            </div>
            <div class="col-md-5">
                <img id = "closeproperty" src="~/Content/Images/icn_close_pg.png"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <img src="~/Content/Images/image_placeholder_large.png" />
            </div >
            <div class="col-md-4">
                <div>
                    <span>Address:</span>
                    <p>1234 Meadow Rd Renton WA 11111</p>

                    <span>Rent:</span>
                    <p>$1,200 a month</p>

                    <span>Housing Type and Sq.Ft:</span>
                    <p>900 Sq.Ft.Condo</p>

                    <span>Bedrooms and Bathrooms:</span>
                    <p>2.2</p>
                </div>
                <div>
                    <span>Pets:</span>
                    <p>Small dogs and cats (no pitbulls)</p>

                    <span>Central Air:</span>
                    <p>Yes</p>

                    <span>Parking:</span>
                    <p>1 spot</p>

                    <span>Laundry:</span>
                    <p>Shared laundry, not in units</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <img src="~/Content/Images/Desktop_ln_image_placeholder.png" />
                < img src="~/Content/Images/Desktop_ln_image_placeholder.png" />
                <img src="~/Content/Images/Desktop_ln_image_placeholder.png" />
                < img src="~/Content/Images/Desktop_ln_image_placeholder.png" />
            </div>
            <div class="col-md-4">
                <div>
                    <div>
                        <img class="non_like_sel likebtn" src="~/Content/Images/icn_ln_non_selected_like.png" />
                        <img class="like_sel likebtn noinit" src="~/Content/Images/icn_ln_selected_like.png" />
                    </div>
                    <div class="dislike">
                        <img class="non_dislike_sel likebtn" src="~/Content/Images/icn_ln_non_selected_dislike.png" />
                        <img class="dislike_sel likebtn noinit" src="~/Content/Images/icn_ln_selected_dislike.png" />
                    </div>
                </div>
                <div>
                    <div>
                        <img src="~/Content/Images/icn_chat_bubble.png" />
                        <div class="notify-count noinit">
                            <img src="~/Content/Images/icn_alert_circle.png" />
                            <span > 00 </span >
                        </div >
                    </div >
                    <div >
                        < img src="~/Content/Images/icn_cal_B1.png"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <p>Other Notes:</p>
            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnum aliquam quaerat voluptatem.Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnum aliquam quaerat voluptatem. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,</p>
        </div>
    </div>
</div>

@Styles.Render("~/Styling/housing")

@*<script>
    var $lastFilter;

    document.addEventListener("DOMContentLoaded", function () {
        $lastFilter = null;

        // filters
        $("div#housing div.notfirst input[name='choice']").click(function () {
            if ($lastFilter !== null)
               $($lastFilter.next()).removeClass("selected");
 
            $lastFilter = $(this);
            $($lastFilter.next()).addClass("selected");

            // apply filter
            $('div#housing tbody tr').each(function () {
                if ($(this).attr("sel") !== $lastFilter.attr('value'))
                    $(this).css("display", "none");
                else
                    $(this).css("display", "table-row");
            });
        });

        // add property
        $('div#housing div#add').click(function () {
            alert("Add New Property");
        });

        // new/like/dislike
        $('div.likebtns img').click(function () {
            var likeSel;
            $(this).css("display", "none");

            if ($(this).hasClass('new')) {
                likeSel = "like";
                $(this).next().css("display", "inline");
                $(this).parent().parent().parent().attr("sel", "like");
            }
            else if ($(this).hasClass('like')) {
                likeSel = "dislike";
                $(this).next().css("display", "inline");
                $(this).parent().parent().parent().attr("sel", "dislike");
            }
            else {
                likeSel = "new";
                $(this).prev().prev().css("display", "inline");
                $(this).parent().parent().parent().attr("sel", "new");
            }

            // apply current filter
            if ($lastFilter !== null && $lastFilter.attr('value') !== likeSel) {
                $(this).parent().parent().parent().css("display", "none");
            }
        });

        // open chat window
        $('div#housing tbody div.comments').click(function () {
            if ($(this).find('div.notify-count').hasClass('noinit') === false)
                $('div#chat').css("display", "block");
        });

        // close chat window
        $($('div#housing div#chat button')[0]).click(function () {
            $('div#chat').css("display", "none");
        });

        // open property window
        $('div#housing tbody img.location').click(function () {
            $('div#property').css("display", "block");
        });

        // close property window
        $('div#housing div#property img#closeproperty').click(function () {
            $('div#property').css("display", "none");
        });

        // propery window like btns
        $('div#housing div#property img.likebtn').each(function () {
            $(this).click(function () {
                $(this).css("display", "none");

                if ($(this).hasClass('non_like_sel')) {
                    $(this).next().css("display", "inline");
                } else if ($(this).hasClass('like_sel')) {
                    $(this).prev().css("display", "inline");
                } else if ($(this).hasClass('non_dislike_sel')) {
                    $(this).next().css("display", "inline");
                } else {
                    $(this).prev().css("display", "inline");
                }
            });
        });
    });
</script>*@