@model Odin.ViewModels.Orders.Transferee.HousingViewModel

<div id="housing" class="frame">
    <div class="row">
        <div class="col-md-6">
            <p id="caption">Housing Summary</p>
            <div class="col-md-5">
                <div>
                    <p>@Html.DisplayNameFor(model => model.HousingBudget)</p>
                    <span>@Html.DisplayFor(model => model.HousingBudget)</span>
                </div>
                <div>
                    <p>@Html.DisplayNameFor(model => model.NumberOfBedrooms)</p>
                    <span>@Html.DisplayFor(model => model.NumberOfBedrooms)</span>
                </div>
                <div>
                    <p>@Html.DisplayNameFor(model => model.PetsCount)</p>
                    <span>@Html.DisplayFor(model => model.PetsCount)</span>
                </div>
                <div>
                    <p>Transportation:</p>
                    <span>Bus</span>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <p>@Html.DisplayNameFor(model => model.HousingTypeName)</p>
                    <span>@Html.DisplayFor(model => model.HousingTypeName)</span>
                </div>
                <div>
                    <p>@Html.DisplayNameFor(model => model.NumberOfBathroomsName)</p>
                    <span>@Html.DisplayFor(model => model.NumberOfBathroomsName)</span>
                </div>
                <div>
                    <p>@Html.DisplayNameFor(model => model.MaxCommute)</p>
                    <span>@Html.DisplayFor(model => model.MaxCommute)</span>
                </div>
                <div>
                    <p>@Html.DisplayNameFor(model => model.SpouseAndKids)</p>
                    <span>@Html.DisplayFor(model => model.SpouseAndKids)</span>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="~/Content/Images/map_placeholder.png"/>
        </div>
    </div>
    
    <div class="row notfirst">
        <div>
            <span>Filter:</span>
            <div>
                <input type="radio" name="choice" value="new"><span>New</span>
                <input type="radio" name="choice" value="like"><span>Like</span>
                <input type="radio" name="choice" value="dislike"><span>Dislike</span>
            </div> 
        </div>
        <div id="add">
            <img src="~/Content/Images/btn_add_home.png" />
            <span>Add Property</span>
        </div>
    </div>
    <div class="row notfirst">
        <div>
            <table>
                <thead>
                    <tr>
                        <th>
                            <p>Location</p>
                            <p>Photos:</p>
                        </th>
                        <th>
                            <p>Address:</p>
                            <p>&nbsp;</p>
                        </th>
                        <th>
                            <p>Available or Not</p>
                            <p>Date:</p>
                        </th>
                        <th>
                            <p>BD | BA</p>
                            <p>Rent | Sq.Ft:</p>
                        </th>
                        <th>
                            <p>Schedule</p>
                            <p>a Viewing:</p>
                        </th>
                        <th>
                            <p>Like or</p>
                            <p>Dislike:</p>
                        </th>
                        <th>
                            <p>Property</p>
                            <p>Comments:</p>
                        </th>
                </tr>
                </thead>
                <tbody>
                    <tr sel="new">
                        <td>
                            <img class="location" src="~/Content/Images/popout_sml_img.png" />
                        </td>
                        <td>
                            <p>1234 Meadow Rd</p>
                            <p>Renton WA</p>
                        </td>
                        <td>
                            <p>Available</p>
                            <p>11/12/17</p>
                        </td>
                        <td>
                            <p>2 | 2</p>
                            <p>$3,200 | 1,300</p>
                        </td>
                        <td>
                            <img src="~/Content/Images/icn_cal_B1.png" />
                        </td>
                        <td>
                            <div class="likebtns">
                                <img class="new" src="~/Content/Images/icn_ln_non_selected_like.png" />
                                <img class="like noinit" src="~/Content/Images/icn_ln_selected_like.png" />
                                <img class="dislike noinit" src="~/Content/Images/icn_ln_selected_dislike.png" />
                            </div>
                        </td>
                        <td>
                            <div class="comments">
                                <img class="comment" src="~/Content/Images/icn_chat_bubble.png" />
                                <div class="notify-count">
                                    <img src="~/Content/Images/icn_alert_circle.png" />
                                    <span>03</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr sel="new">
                        <td>
                            <img class="location" src="~/Content/Images/popout_sml_img.png" />
                        </td>
                        <td>
                            <p>5252 Gala Cr.</p>
                            <p>Ballard WA</p>
                        </td>
                        <td>
                            <p>Available</p>
                            <p>11/01/17</p>
                        </td>
                        <td>
                            <p>3 | 2</p>
                            <p>$1,800 | 950</p>
                        </td>
                        <td>
                            <img src="~/Content/Images/icn_cal_B1.png" />
                        </td>
                        <td>
                            <div class="likebtns">
                                <img class="new" src="~/Content/Images/icn_ln_non_selected_like.png" />
                                <img class="like noinit" src="~/Content/Images/icn_ln_selected_like.png" />
                                <img class="dislike noinit" src="~/Content/Images/icn_ln_selected_dislike.png" />
                            </div>
                        </td>
                        <td>
                            <div class="comments">
                                <img class="comment" src="~/Content/Images/icn_chat_bubble.png" />
                                <div class="notify-count noinit">
                                    <img src="~/Content/Images/icn_alert_circle.png" />
                                    <span>00</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr sel="new">
                        <td>
                            <img class="location" src="~/Content/Images/popout_sml_img.png" />
                        </td>
                        <td>
                            <p>6143 Asdar Rd</p>
                            <p>Belltown WA</p>
                        </td>
                        <td>
                            <p>Not</p>
                            <p>Available</p>
                        </td>
                        <td>
                            <p>1 | 1</p>
                            <p>$1,200 | 750</p>
                        </td>
                        <td>
                            <img src="~/Content/Images/icn_cal_B1.png" />
                        </td>
                        <td>
                            <div class="likebtns">
                                <img class="new" src="~/Content/Images/icn_ln_non_selected_like.png" />
                                <img class="like noinit" src="~/Content/Images/icn_ln_selected_like.png" />
                                <img class="dislike noinit" src="~/Content/Images/icn_ln_selected_dislike.png" />
                            </div>
                        </td>
                        <td>
                            <div class="comments">
                                <img class="comment" src="~/Content/Images/icn_chat_bubble.png" />
                                <div class="notify-count noinit">
                                    <img src="~/Content/Images/icn_alert_circle.png" />
                                    <span>00</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr sel="new">
                        <td>
                            <img class="location" src="~/Content/Images/popout_sml_img.png" />
                        </td>
                        <td>
                            <p>5252 Meadowbrook</p>
                            <p>Ballard WA</p>
                        </td>
                        <td>
                            <p>Available</p>
                            <p>11/12/17</p>
                        </td>
                        <td>
                            <p>2 | 1.5</p>
                            <p>$1,500 | 800</p>
                        </td>
                        <td>
                            <img src="~/Content/Images/icn_cal_B1.png" />
                        </td>
                        <td>
                            <div class="likebtns">
                                <img class="new" src="~/Content/Images/icn_ln_non_selected_like.png" />
                                <img class="like noinit" src="~/Content/Images/icn_ln_selected_like.png" />
                                <img class="dislike noinit" src="~/Content/Images/icn_ln_selected_dislike.png" />
                            </div>
                        </td>
                        <td>
                            <div class="comments">
                                <img class="comment" src="~/Content/Images/icn_chat_bubble.png" />
                                <div class="notify-count">
                                    <img src="~/Content/Images/icn_alert_circle.png" />
                                    <span>01</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr sel="new">
                        <td>
                            <img class="location" src="~/Content/Images/popout_sml_img.png" />
                        </td>
                        <td>
                            <p>1234 Meadow Rd</p>
                            <p>Renton WA</p>
                        </td>
                        <td>
                            <p>Not</p>
                            <p>Available</p>
                        </td>
                        <td>
                            <p>2 | 2</p>
                            <p>$3,200 | 1,300</p>
                        </td>
                        <td>
                            <img src="~/Content/Images/icn_cal_B1.png" />
                        </td>
                        <td>
                            <div class="likebtns">
                                <img class="new" src="~/Content/Images/icn_ln_non_selected_like.png" />
                                <img class="like noinit" src="~/Content/Images/icn_ln_selected_like.png" />
                                <img class="dislike noinit" src="~/Content/Images/icn_ln_selected_dislike.png" />
                            </div>
                        </td>
                        <td>
                            <div class="comments">
                                <img class="comment" src="~/Content/Images/icn_chat_bubble.png" />
                                <div class="notify-count noinit">
                                    <img src="~/Content/Images/icn_alert_circle.png" />
                                    <span>00</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="chat">
        <div id="addr">
            <span>Last Message</span><span id="lastchat"> 01:45 PM</span>
        </div>
        <div id="chatwrapper">
            <div id="chatframe">
                <ul>
                    <li>
                        <img src="~/Content/Images/icn_chat_2.png"/><span>Joyce Damino</span>
                        <div>
                            <p>Would you like to go see 1234 MeadowRd on the 11th of November?</p>
                        </div>
                    </li>
                    <li>
                        <img src="~/Content/Images/icn_chat_1.png" /><span>Victoria Sporer</span>
                        <div>
                            <p>Yes, I would like to go visit 1234 Meadow Rd. That will work well, I am bringing the kids.</p>
                        </div>
                    </li>
                    <li>
                        <img src="~/Content/Images/icn_chat_2.png" /><span>Joyce Damino</span>
                        <div>
                            <p>Sounds good, I will see you all there at 10am?</p>
                        </div>
                    </li>
                    <li>
                        <img src="~/Content/Images/icn_chat_2.png" /><span>Joyce Damino</span>
                        <div>
                            <p>Would you like to go see 1232 RoseLn on the 11th of November</p>
                        </div>
                    </li>
                    <li>
                        <img src="~/Content/Images/icn_chat_1.png" /><span>Victoria Sporer</span>
                        <div>
                            <p>Yes, I would like to go visit 1232 RoseLn. That will work well, we can do this one in the afternoon.</p>
                        </div>
                    </li>
                    <li>
                        <img src="~/Content/Images/icn_chat_2.png" /><span>Joyce Damino</span>
                        <div>
                            <p>Sounds good, I will call and make sure we can get in then.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="comment">
                <p>Comment</p>
            </div>
            <button>Close</button>
            <button>Send</button>
        </div>
    </div>
    <div id="property">
        <div class="row">
            <div class="col-md-5">
                <span>Available: </span><span>November 12th 2017</span>
            </div>
            <div class="col-md-5">
                <img id="closeproperty" src="~/Content/Images/icn_close_pg.png"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <img src="~/Content/Images/image_placeholder_large.png"/>
            </div>
            <div class="col-md-4">
                <div>
                    <span>Address:</span>
                    <p>1234 Meadow Rd Renton WA 11111</p>

                    <span>Rent:</span>
                    <p>$1,200 a month</p>

                    <span>Housing Type and Sq.Ft:</span>
                    <p>900 Sq.Ft. Condo</p>

                    <span>Bedrooms and Bathrooms:</span>
                    <p>2.2</p>
                </div>
                <div>
                    <span>Pets:</span>
                    <p>Small dogs and cats (no pitbulls)</p>

                    <span>Central Air:</span>
                    <p>Yes</p>

                    <span>Parking:</span>
                    <p>1 spot</p>

                    <span>Laundry:</span>
                    <p>Shared laundry, not in units</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <img src="~/Content/Images/Desktop_ln_image_placeholder.png" />
                <img src="~/Content/Images/Desktop_ln_image_placeholder.png" />
                <img src="~/Content/Images/Desktop_ln_image_placeholder.png" />
                <img src="~/Content/Images/Desktop_ln_image_placeholder.png" />
            </div>
            <div class="col-md-4">
                <div>
                    <div>
                        <img class="non_like_sel likebtn" src="~/Content/Images/icn_ln_non_selected_like.png" />
                        <img class="like_sel likebtn noinit" src="~/Content/Images/icn_ln_selected_like.png" />
                    </div>
                    <div class="dislike">
                        <img class="non_dislike_sel likebtn" src="~/Content/Images/icn_ln_non_selected_dislike.png" />
                        <img class="dislike_sel likebtn noinit" src="~/Content/Images/icn_ln_selected_dislike.png" />
                    </div>
                </div>
                <div>
                    <div>
                        <img src="~/Content/Images/icn_chat_bubble.png" />
                        <div class="notify-count noinit">
                            <img src="~/Content/Images/icn_alert_circle.png" />
                            <span>00</span>
                        </div>
                    </div>
                    <div>
                        <img src="~/Content/Images/icn_cal_B1.png"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <p>Other Notes:</p>
            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnum aliquam quaerat voluptatem. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnum aliquam quaerat voluptatem. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur,</p>
        </div>
    </div>
</div>

@Styles.Render("~/Styling/housing")

@*<script>
    var $lastFilter;

    document.addEventListener("DOMContentLoaded", function () {
        $lastFilter = null;

        // filters
        $("div#housing div.notfirst input[name='choice']").click(function () {
            if ($lastFilter !== null)
               $($lastFilter.next()).removeClass("selected");
 
            $lastFilter = $(this);
            $($lastFilter.next()).addClass("selected");

            // apply filter
            $('div#housing tbody tr').each(function () {
                if ($(this).attr("sel") !== $lastFilter.attr('value'))
                    $(this).css("display", "none");
                else
                    $(this).css("display", "table-row");
            });
        });

        // add property
        $('div#housing div#add').click(function () {
            alert("Add New Property");
        });

        // new/like/dislike
        $('div.likebtns img').click(function () {
            var likeSel;
            $(this).css("display", "none");

            if ($(this).hasClass('new')) {
                likeSel = "like";
                $(this).next().css("display", "inline");
                $(this).parent().parent().parent().attr("sel", "like");
            }
            else if ($(this).hasClass('like')) {
                likeSel = "dislike";
                $(this).next().css("display", "inline");
                $(this).parent().parent().parent().attr("sel", "dislike");
            }
            else {
                likeSel = "new";
                $(this).prev().prev().css("display", "inline");
                $(this).parent().parent().parent().attr("sel", "new");
            }

            // apply current filter
            if ($lastFilter !== null && $lastFilter.attr('value') !== likeSel) {
                $(this).parent().parent().parent().css("display", "none");
            }
        });

        // open chat window
        $('div#housing tbody div.comments').click(function () {
            if ($(this).find('div.notify-count').hasClass('noinit') === false)
                $('div#chat').css("display", "block");
        });

        // close chat window
        $($('div#housing div#chat button')[0]).click(function () {
            $('div#chat').css("display", "none");
        });

        // open property window
        $('div#housing tbody img.location').click(function () {
            $('div#property').css("display", "block");
        });

        // close property window
        $('div#housing div#property img#closeproperty').click(function () {
            $('div#property').css("display", "none");
        });

        // propery window like btns
        $('div#housing div#property img.likebtn').each(function () {
            $(this).click(function () {
                $(this).css("display", "none");

                if ($(this).hasClass('non_like_sel')) {
                    $(this).next().css("display", "inline");
                } else if ($(this).hasClass('like_sel')) {
                    $(this).prev().css("display", "inline");
                } else if ($(this).hasClass('non_dislike_sel')) {
                    $(this).next().css("display", "inline");
                } else {
                    $(this).prev().css("display", "inline");
                }
            });
        });
    });
</script>*@