@model Odin.ViewModels.Orders.Transferee.OrdersTransfereeItineraryViewModel

<div class="container-fluid" data-order-id="@Model.Id" id="itinerary">  
    @for (int i = 0; i < Model.Itinerary.Count(); i++)
    {

        var elem = Model.Itinerary.ElementAt(i);
        string link = "";
        DateTime? dt = (DateTime?)(elem).ScheduledDate;
        string al = (string)(elem).ActionLabel;
        string id = Model.Id;
        if (Model.Itinerary.ElementAt(i).ItemType.Contains("Service"))
        {
            link = "$('.item[data-panel=details]').trigger('click');";
            if (!dt.HasValue)
            {
                break;
            }
        }
        else if (Model.Itinerary.ElementAt(i).ItemType.Contains("Service"))
        {
            link = "$('.item[data-panel=itinerary]').trigger('click');";
        }
        else
        {
            link = "$('.item[data-panel=housing]').trigger('click');";
        }

        if (ViewBag.SameAs == null || DateTime.Parse(ViewBag.SameAs.ToString()).ToShortDateString() != dt.Value.ToShortDateString())
        {
            ViewBag.SameAs = dt;

            <div class="event-item row" data-entity-id="@id">
                <div class="dayTitle">
                    <h2 class="dayNumber">
                        @(dt.HasValue ? dt.Value.ToString("dd") : "NA")
                    </h2>
                    <div class="dayText">
                        <p class="dayName"><span>@(dt.HasValue ? dt.Value.ToString("dddd") : "NA")</span></p>
                        <p class="mmyyyy">@(dt.HasValue ? dt.Value.ToString("MMMM yyyy") : "NA")</p>
                    </div>
                </div>
            </div>
        }
        <div class="eventNotes">
            <p>
                <a onclick="@link"><span class="eventTime">@(dt.HasValue ? dt.Value.ToString("hh:mm tt") : "NA")</span>&nbsp;<span class="eventNote">@al</span></a>
            </p>
        </div>

    }
    <hr>
    
</div>
<div id="editor"></div>
<button id="cmdEmail">Email to Transferee</button>
<button id="cmdPDF">Generate PDF</button>
<hr>
@Styles.Render("~/Styling/itinerary")

<script type="text/javascript">

    $(document).ready(TransfereeItineraryController.init);
    var doc = new jsPDF();
    var specialElementHandlers = {
        '#editor': function (element, renderer) {
            return true;
        }
    };

    $('#cmdPDF').click(function () {
        doc.fromHTML($('#itinerary').html(), 15, 15, {
            'width': 170,
            'elementHandlers': specialElementHandlers
        });
        var nm = $('.eeName').text().replace(/ /g,"").replace(/\./g, "");        
        doc.save(nm+'_Itinerary.pdf');
    });

</script>
