@using Odin.Data.Core.Models
@model Odin.Data.Core.Models.Lease
<div class="container-fluid" data-property-id="@Model.Id">
    <div class="row">
        <div class="col-md-6">
            <h4>Selected Home</h4>
        </div>
        <div class="col-md-6">            
            <button type="button" id="exportProperty" class="btn btn-ok pull-right">Export to PDF</button>
            <button type="button" id="deselectProperty" class='btn btn-ok pull-right' data-dismiss="modal">Deselect Property</button>
        </div>        
    </div>
    <div class="row">
        <div class="col-md-4">           
            <img class="homePhoto" src='@(Model.Property.Photos.Count > 0 ? Model.Property.Photos.First().PhotoUrl:"")' />
        </div>
        <div class="col-md-8">
            <div class="row">
                <label class="col-md-12 address">@Html.DisplayFor(model => model.Property.Street1)</label>
                <label class="col-md-12 address2">@Html.DisplayFor(model => model.Property.City), @Html.DisplayFor(model => model.Property.State) @Html.DisplayFor(model => model.Property.PostalCode)</label>
            </div>
            <ul class="row selectedPropertySummary">
                <li class="col-md-3">
                    <div class="selectedPropertySummary__item">
                        <p>@Html.DisplayFor(model => model.Property.NumberOfBedrooms)
                        <span>Bedrooms</span>
                        </p>
                    </div>
                </li>
                <li class="col-md-3">
                    <div class="selectedPropertySummary__item ">
                        <p class="selectedProperty__summaryContent">
                            @Html.DisplayFor(model => model.Property.NumberOfBathrooms)
                        <span>Bathrooms</span>
                        </p>
                    </div>
                </li>
                <li class="col-md-3">
                    <div class="selectedPropertySummary__item ">
                        <p class="selectedProperty__summaryContent">@Html.DisplayFor(model => model.Property.SquareFootage)
                        <span>Square Feet</span>
                        </p>
                    </div>
                </li>
                <li class="col-md-3">
                    <div class="selectedPropertySummary__item ">
                        <p class="selectedProperty__summaryContent">@Html.DisplayFor(model => model.Property.Amount)
                        <span>Per Month</span>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Lease Information</h4>
        </div>
        <div class="col-md-6">
            <h4>Lease Documents</h4>
        </div>
    </div>
</div>
<style>
    .homePhoto {
        width: 100%;
    }
    .li {

    }

    .selectedPropertySummary {
        list-style:none;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }
    .selectedPropertySummary__item {
        background-color: #efefef;
        text-align: center;
        width: 96%;
        padding: 1rem 0;
        margin: 0 auto;
    }
    .selectedPropertySummary__item p {
        font-size: 1.2rem;
        color: #808080;
        font-weight: 600;
    }
    .selectedPropertySummary__item span {
        display: block;
    }
    
    .address {
        font-size: 1.8rem;
        font-weight: bold;
        margin-left: .5rem;
    }
    .address2 {
        font-size: 1.5rem;
        margin-left: .5rem;
    }
</style>
<script>
    $(document).ready(function () {
        $("#exportProperty").click(function () {
            TransfereeHousingController.lease2PDF("@Model.Property.Id");
            });
        $('#deselectProperty').click(function () {
                TransfereeHousingController.selectProperty("", "@Model.Property.Id");
            });
        });
</script>
