@using Odin.Data.Core.Models
@model Odin.Data.Core.Models.Lease
<div class="container-fluid" data-property-id="@Model.Id">
    <div class="row">
        <div class="col-md-6">
            <h3>
                Selected Home
            </h3>
            <p>&nbsp;</p>
        </div>
        <div class="col-md-6 buttonGroup">            
            @if (ViewBag.IsPDF != true)
            { 
                <button type="button" id="exportProperty" class="btn btn-ok">Export to PDF</button>        
                <button type="button" id="deselectProperty" class='btn btn-secondary' data-dismiss="modal">Deselect Property</button>
            }
        </div>        
    </div>
    <div class="row">
        <div class="col-md-3">           
            <img class="homePhoto" src='@(Model.Property.Photos.Count > 0 ? Model.Property.Photos.First().PhotoUrl:"")' />
        </div>
        <div class="col-md-9 rightSection">
            <div class="row">
                <label class="col-md-12 address">@Html.DisplayFor(model => model.Property.Street1)</label>
                <label class="col-md-12 address2">@Html.DisplayFor(model => model.Property.City), @Html.DisplayFor(model => model.Property.State) @Html.DisplayFor(model => model.Property.PostalCode)</label>
            </div>
            <ul class="row selectedPropertySummary">
                <li class="col-md-3">
                    <div class="selectedPropertySummary__item">
                        <p class="selectedProperty__summaryContent">@Html.DisplayFor(model => model.Property.NumberOfBedrooms)
                        <span class="selectedProperty__summarySpan">Bedrooms</span>
                        </p>
                    </div>
                </li>
                <li class="col-md-3">
                    <div class="selectedPropertySummary__item ">
                        <p class="selectedProperty__summaryContent">
                            @Html.DisplayFor(model => model.Property.NumberOfBathrooms)
                        <span class="selectedProperty__summarySpan">Bathrooms</span>
                        </p>
                    </div>
                </li>
                <li class="col-md-3">
                    <div class="selectedPropertySummary__item ">
                        <p class="selectedProperty__summaryContent">@Html.DisplayFor(model => model.Property.SquareFootage)
                        <span class="selectedProperty__summarySpan">Square Feet</span>
                        </p>
                    </div>
                </li>
                <li class="col-md-3">
                    <div class="selectedPropertySummary__item ">
                        <p class="selectedProperty__summaryContent">@Html.DisplayFor(model => model.Property.Amount)
                        <span class="selectedProperty__summarySpan">Per Month</span>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row leaseSection">
        <div class="col-md-6">
            <h4>Lease Information</h4>
        </div>
        <div class="col-md-6">
            <h4>Lease Documents</h4>
        </div>
    </div>
</div>
<style>
    .buttonGroup {
        margin-top: 2rem;
    }
        .btn {
                  float:right;
                  margin-right:2rem;
              }

    .rightSection{
        margin-left:-15px;
    }
    
    .homePhoto {
        width: 25rem;
    }
    li {
        display: inline-block;
    }

    .selectedPropertySummary {
        list-style:none;
        list-style-type:none;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }
    .selectedPropertySummary__item {
        background-color: #efefef;
        text-align: center;
        padding: 1rem 0;
        margin: 0 auto;
        margin-left:-15px;
    }
    .selectedProperty__summaryContent {
        font-size: 1.8rem;
        color: #808080;
        font-weight: 600;
    }
    .selectedProperty__summarySpan {
        display: block;
        font-size: 1.5rem;
        color: #808080;
        font-weight: 400;
    }
    
    .address {
        font-size: 1.8rem;
        font-weight: bold;
    }
    .address2 {
        font-size: 1.5rem;
    }
    .leaseSection{
        margin-top:2rem;
    }
</style>
<script>
    $(document).ready(function () {
        $("#exportProperty").click(function () {
            TransfereeHousingController.lease2PDF("@Model.Property.Id");
            });
        $('#deselectProperty').click(function () {
                TransfereeHousingController.selectProperty("", "@Model.Property.Id");
            });
        });
</script>
