@model Odin.ViewModels.Shared.PropertyMessagesViewModel
<div id="messagesModal" data-property-id="@Model.Id">
    <div class="modal-header" style="background-color:#a7ce39">
        <span class="modal-title" id="notificationModalLabel">Last Message @(Model.latest.HasValue ? string.Format("{0:t}", Model.latest.Value) : "N/A") </span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
        </button>
    </div>
    <div class="modal-body row">
        @foreach (var message in Model.messages)
        {
            <div id="messageModal" data-message-id="@message.Id" class="row">
                <div class="col-md-2">
                    <img class="messageImage" src="~/Content/Images/icn_chat_1.png" />
                </div>
                <div class="col-md-10">
                    <h5 class="messageHeader">
                        @message.Author
                    </h5>
                    <span>@message.MessageText</span>
                </div>
            </div>
        }
    </div>
    <div>
        <textarea id="message" onfocus="this.value=''; setbg('#e5fff3');" onblur="setbg('white')">Enter your comment here...</textarea>
    </div>
    <div class="modal-footer row">
        <div class="col-sm-2">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        <div class="col-sm-8"></div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary send">Send</button>
        </div>
    </div>
</div>
@Styles.Render("~/Styling/propertyMessages")
<script>
    $(document).ready(function () {
        TransfereeMessagesController.init();
    });
</script>