@model Odin.ViewModels.Orders.Transferee.HousingPropertyViewModel

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            @Html.DisplayFor(p => p.PropertyPhotos)
        </div>

        <dl class="dl-vertical col-md-4">

            <div class="row">
                <div class="col-md-12">
                    <dt>
                        @Html.DisplayNameFor(model => model.PropertyAddress)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PropertyAddress)
                    </dd>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <dt>
                        @Html.DisplayNameFor(model => model.PropertyNumberOfBedrooms)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PropertyNumberOfBedrooms)
                    </dd>
                </div>
                <div class="col-md-6">
                    <dt>
                        @Html.DisplayNameFor(model => model.PropertyNumberOfBathrooms)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PropertyNumberOfBathrooms)
                    </dd>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <dt>
                        @Html.DisplayNameFor(model => model.PropertySquareFootage)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PropertySquareFootage)
                    </dd>
                </div>

                <div class="col-md-6">
                    <dt>
                        @Html.DisplayNameFor(model => model.PropertyAmount)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.PropertyAmount)
                    </dd>
                </div>
            </div>
        </dl>

        <div class="col-md-12">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.PropertyDescription)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PropertyDescription)
                </dd>
            </dl>
        </div>
    </div>
</div>