@model Odin.ViewModels.Orders.Transferee.OrdersTransfereeViewModel

<div class="container-fluid navWrapper">
    <div class="navbar-header transfereeSideNav__person">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand" href="#">
            @*<img class="person" src="~/Content/Images/icn_person.png" />*@
        </div>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="eeDetails">
            <p class="eeName">Consultant</p>
            <p class="eeName">@Model.ConsultantFullName</p>
            <p class="eeDetails"><a class="eeDetails" href="mailto:@Model.ConsultantEmail">@Model.ConsultantEmail</a></p>
            <p class="eeDetails">@Model.ConsultantPhoneNumber</p>
        </div>
        <hr class="transfereeSideNav__rule" />
        <div class="eeDetails">
            <p class="eeName">Program Manager</p>
            <p class="eeName">@Model.ProgramManagerFullName</p>
            <p class="eeDetails"><a class="eeDetails" href="mailto:@Model.ProgramManagerEmail">@Model.ProgramManagerEmail</a></p>
            <p class="eeDetails">@Model.ProgramManagerPhoneNumber</p>
        </div>
        <ul class="nav navbar-nav">
            <hr class="transfereeSideNav__rule"/>
            <li class="item selected nav-item" data-panel="dashboard">
                <a href="#dashboard">
                    <img src="~/Content/Images/icn_details.png"/>
                    <label>Dashboard</label>
                </a>
            </li>
            <li class="item nav-item" data-panel="housing">
                <a href="#housing">
                    <img src="~/Content/Images/icn_housing.png"/>
                    <label>Housing</label>
                </a>
            </li>
            <li class="item nav-item" data-panel="itinerary">
                <a href="#itinerary">
                    <img src="~/Content/Images/icn_internal_itinerary.png"/>
                    <label>Itinerary</label>
                </a>
            </li>
            <hr class="transfereeSideNav__rule"/>
            <li class="item nav-item" data-panel="help">
                <a href="#help">
                    <img src="~/Content/Images/icn_internal_itinerary.png"/>
                    <label>Help / FAQ</label>
                </a>
            </li>
        </ul>
    </div>
</div>






