@model Odin.ViewModels.Authentication.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_ForgotPassword.cshtml";
}

<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div id="caption">
                <span>Confirm your</span><span id="email"> Email</span><br />
                <span>to Reset Your Password</span>
            </div>            

            <div id="group-blk">
                <div class="form-group">
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })   
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                    </div>                    
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Send" class="btn btn-default" /><span>Send a reset email to me now!</span>
                    </div>
                    <br />
                    <div id="desc">
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi.</p>
                    </div>
                </div>
            </div>
        }

        <div id="logo">
            <img id="logoImage" src="~/Content/Images/dwellworks_icon.png" />
            <span id="logoOdin">Odin</span>
        </div>
    </div>
</div>
<input type="hidden" id="hdnMessage" value="@Html.Raw(ViewBag.Message != null ? ViewBag.Message : "")"/>


@Styles.Render("~/Styling/forgotPassword")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/forgotPassword")
    <script>
        $(document).ready(ForgotPasswordController.init);
    </script>
}
