@model Odin.ViewModels.Authentication.LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="loginWrap">
<div class="row">
    <div class="col-md-4">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div id="caption">
                    <div id="logo">
                        <img id="logoImage" src="~/Content/Images/dwellworks_icon.png" />
                        <span id="logoOdin">Odin</span>
                    </div>
                    <span>Sign in to</span><span id="Odin"> Odin</span><span> to</span><br />
                    <span>get started</span>
                </div>
               
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                     <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="passwd col-md-offset-2 col-md-10">
                        <input type="submit" value="Login" class="btn btn-default" />
                        <p id="forgot">@Html.ActionLink("Forgot password", "ForgotPassword")</p>
                    </div>
                </div>                
            }
        </section>
        @*@Html.Partial("~/Views/Shared/Partials/_logo.cshtml")*@

    </div>
    <div class="col-md-8">
        <div class="loginCopyWrap">
            <p class="head">We make relocation management simpler.</p>
            <p class="copy">Our job is to make sure those moves are supported with personal care, local expertise, and the highest quality of compliance and business services standards</p>
        </div>
    </div>
</div>
</div>

@Styles.Render("~/Styling/login")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
            if (navigator.appName == 'Microsoft Internet Explorer' ||
                (navigator.appName == 'Netscape' && navigator.appVersion.indexOf('Edge') > -1))
                $('img#gradient').addClass('IEorEdge');
        });
    </script>
}