@using Odin.Data.Core.Models
@model Odin.ViewModels.Orders.Index.OrderIndexManagerViewModel
@{
    ViewBag.Title = "Orders Page";
    Layout = "~/Views/Shared/_Common.cshtml";
}
@Styles.Render("~/Styling/orders")

<div class="container-fluid" id="list">

    <div id="search">
        <input id="searchbox" placeholder="Type here to search, select to go" />
    </div>

    @if (User.IsInRole(UserRoles.ProgramManager) || User.IsInRole(UserRoles.GlobalSupplyChain))
    {

        <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Property Managers
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" align="center">
                @foreach (var mngr in Model.Managers)
                {
                    <div class="clickablepm" data-order-id="@mngr.Id" align="center">@mngr.FullName</div><br>
                }
            </div>
        </div>
    }

    <ul class="container-fluid">
        <li class="header row">
            <div class="col-md-2">
                <label id="eeNameSort" class="sortLabel">Transferee Name<span class="sortPlus"><img src="/Content/Images/icn_up_sel_arrow.png" /></span><span class="sortMinus"><img src="/Content/Images/icn_down_arrow.png" /></span></label>
            </div>
            <div class="col-md-2">
                <label>Program Progress</label>
            </div>
            <div class="col-md-2">
                <label id="pmNameSort" class="sortLabel">Manager <span class="sortPlus"><img src="/Content/Images/icn_up_sel_arrow.png" /></span><span class="sortMinus"><img src="/Content/Images/icn_down_arrow.png" /></span></label>
            </div>
            <div class="col-md-2">
                <label id="preTripDateSort" class="sortLabel">Pre-Trip <span class="sortPlus"><img src="/Content/Images/icn_up_sel_arrow.png" /></span><span class="sortMinus"><img src="/Content/Images/icn_down_arrow.png" /></span></label>
            </div>
            <div class="col-md-2">
                <label id="estimatedArrivalDateSort" class="sortLabel">Final Arrival <span class="sortPlus"><img src="/Content/Images/icn_up_sel_arrow.png" /></span><span class="sortMinus"><img src="/Content/Images/icn_down_arrow.png" /></span></label>
            </div>
            <div class="col-md-2">
                <label id="notificationsSort" class="sortLabel">Notifications <span class="sortPlus"><img src="/Content/Images/icn_up_sel_arrow.png" /></span><span class="sortMinus"><img src="/Content/Images/icn_down_arrow.png" /></span></label>
            </div>
        </li>
        @if (Model == null)
        {
            return;
        }
        @for (int j = 0; j < Model.OrdersIndexVm.Count(); j++)
        {
            var order = Model.OrdersIndexVm.ElementAt(j);

            <li class="row clickable orderRow" data-order-id="@order.Id">
                <div class="col-md-2">
                    <label class="header">Transferee</label>
                    <p class="eeName" data-last-name="@order.Transferee.LastName">@order.Transferee.FullName</p>
                    <p class="rmcName">@order.Rmc</p>
                    <p class="clientName">@order.Client</p>
                </div>
                <div class="col-md-2">
                    <label class="header">Program Progress</label>
                    <div class="progressBar" data-auth-percent="100%" data-sched-percent="@order.ScheduledWidth%" data-comp-percent="@order.CompletedWidth%">
                        <span class="progressBar__progress progressBar__auth" style="width:100%"></span>
                        <span class="progressBar__progress progressBar__sched" style="width:@order.ScheduledWidth%"></span>
                        <span class="progressBar__progress progressBar__comp" style="width:@order.CompletedWidth%"></span>
                    </div>
                    <div class="progressBar__caption">
                        <label class="scheduledCaption"><span class="blue">@(order.ScheduledServicesDisplay) of @(order.AuthorizedServicesDisplay)</span> Scheduled</label>
                        <label class="completedCaption"><span class="green">@(order.CompletedServicesDisplay) of @(order.AuthorizedServicesDisplay)</span> Completed</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="header">Manager</label>
                    <p>@order.ProgramManager.FullName</p>
                    <p class="subTitle pmPhone">@order.ProgramManager.phoneNumber</p>
                </div>
                <div class="col-md-2">
                    <label class="header">Pre-Trip</label>
                    <p class="preTripDate">@order.PreTripDate</p>
                </div>
                <div class="col-md-2">
                    <label class="header">Final Arrival</label>
                    <p class="estimatedArrivalDate">@order.EstimatedArrivalDate</p>
                </div>
                <div class="col-md-2">
                    <label class="header">Notifications</label>
                    <p>@order.UserNotificationsCount</p>
                </div>
            </li>
        }
    </ul>
</div>



@section scripts
{

    @Scripts.Render("~/Scripts/orders")

    <script>

        $(document).ready(OrdersPageController.init);

    </script>
}