@model IEnumerable<Odin.ViewModels.OrderIndexViewModel>

@{
    ViewBag.Title = "Transferees";
}

<h4>Transferees</h4>

<div class="transferee-list">
    @foreach (var order in Model)
    {
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1">
                <div class="user-image placeholder-image"></div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="transferee">
                    <a href="#">@order.Transferee.TransfereeFullName</a>
                </div>
                
                <div class="moving-to">
                    <i class="glyphicon glyphicon-map-marker blue"></i>
                    @order.DestinationCity, @order.DestinationState
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <label class="small-label grey-header">CONSULTANT</label>
                <div>
                    @order.Consultant.ConsultantFullName
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                @if (order.EstimatedArrivalDate.HasValue)
                {
                    <label class="small-label grey-header">Estimated Arrival</label>
                    <div>
                        @order.EstimatedArrivalDate.Value.ToString("d MMM yyyy")
                    </div>
                }
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
                <i class="glyphicon glyphicon-list-alt glyphicon-large"></i>
            </div>
        </div>
    }
</div>