@using Odin.Data.Core.Models
@model Odin.ViewModels.Orders.Index.OrderIndexManagerViewModel
@{
    ViewBag.Title = "Orders Page";
    Layout = "~/Views/Shared/_Common.cshtml";
}
@Styles.Render("~/Styling/orders")
<div class="container-fluid" id="list">

    <div id="ordersTopBar">
        <input id="searchbox" placeholder="Type here to search, select to go" />
        @if (User.IsInRole(UserRoles.ProgramManager) || User.IsInRole(UserRoles.GlobalSupplyChain))
        {

            <div class="changePropertyManager dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Change Manager
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" align="center">
                    @foreach (var mngr in Model.Managers)
                    {
                        <div class="clickablepm" data-order-id="@mngr.Id" align="center">@mngr.LastName, @mngr.FirstName</div>
                    }
                    <div class="clickablepm" align="center">Charles Montgomery Burns</div>

                </div>
            </div>
        }
    </div>

    <ul class="container-fluid">
        <li class="header row">
            <div class="col-md-2">
                <label id="eeNameSort" class="sortLabel">Transferee Name<span class="sortPlus"><img src="/Content/Images/icn_up_sel_arrow.png" /></span><span class="sortMinus"><img src="/Content/Images/icn_down_arrow.png" /></span></label>
            </div>
            <div class="col-md-2">
                <label>Program Progress</label>
            </div>
            <div class="col-md-2">
                <label id="pmNameSort" class="sortLabel">Manager <span class="sortPlus"><img src="/Content/Images/icn_up_sel_arrow.png" /></span><span class="sortMinus"><img src="/Content/Images/icn_down_arrow.png" /></span></label>
            </div>
            <div class="col-md-2">
                <label id="preTripDateSort" class="sortLabel">Pre-Trip <span class="sortPlus"><img src="/Content/Images/icn_up_sel_arrow.png" /></span><span class="sortMinus"><img src="/Content/Images/icn_down_arrow.png" /></span></label>
            </div>
            <div class="col-md-2">
                <label id="estimatedArrivalDateSort" class="sortLabel">Final Arrival <span class="sortPlus"><img src="/Content/Images/icn_up_sel_arrow.png" /></span><span class="sortMinus"><img src="/Content/Images/icn_down_arrow.png" /></span></label>
            </div>
            <div class="col-md-2">
                <label id="notificationsSort" class="sortLabel">Notifications <span class="sortPlus"><img src="/Content/Images/icn_up_sel_arrow.png" /></span><span class="sortMinus"><img src="/Content/Images/icn_down_arrow.png" /></span></label>
            </div>
        </li>
        @if (Model == null)
        {
            return;
        }
        @for (int j = 0; j < Model.OrdersIndexVm.Count(); j++)
        {
            var order = Model.OrdersIndexVm.ElementAt(j);

            <li class="row clickable orderRow" data-order-id="@order.Id">
                <div class="col-md-2">
                    <label class="header">Transferee</label>
                    <p class="eeName" data-last-name="@order.Transferee.LastName">@order.Transferee.FullName</p>
                    <p class="rmcName">@order.Rmc</p>
                    <p class="clientName">@order.Client</p>
                </div>
                <div class="col-md-2">
                    <label class="header">Program Progress</label>
                    <div class="progress" data-sched-percent="@order.ScheduledWidth%" data-comp-percent="@order.CompletedWidth%">
                        <div class="progress-bar progressBar__comp" role="progressbar" style="width:@order.CompletedWidth%"></div>
                        <div class="progress-bar progressBar__sched" role="progressbar" style="width:@order.ScheduledWidth%"></div>
                    </div>
                    <div class="progressBar__caption">
                        <label class="scheduledCaption"><span class="blue">@(order.ScheduledServicesDisplay) of @(order.AuthorizedServicesDisplay)</span> Scheduled</label>
                        <label class="completedCaption"><span class="green">@(order.CompletedServicesDisplay) of @(order.AuthorizedServicesDisplay)</span> Completed</label>
                    </div>
                </div>
                <div class="col-md-2">
                    <label class="header">Manager</label>
                    @if (User.IsInRole(UserRoles.Consultant))
                    {
                        <p><a href="mailto:@order.ProgramManager.Email">@order.ProgramManager.FullName</a></p>
                    }
                    else
                    {
                        <p>@order.ProgramManager.FullName</p>
                    }
                    <p class="subTitle pmPhone">@order.ProgramManager.phoneNumber</p>
                </div>
                <div class="col-md-2">
                    <label class="header">Pre-Trip</label>
                    <p class="preTripDate">@order.PreTripDateDisplay</p>
                </div>
                <div class="col-md-2">
                    <label class="header">Final Arrival</label>
                    <p class="estimatedArrivalDate">@order.EstimatedArrivalDateDisplay</p>
                </div>
                <div class="col-md-2">
                    <label class="header">Notifications</label>
                    <p>@order.UserNotificationsCount</p>
                </div>
            </li>
        }
    </ul>
</div>



@section scripts
{

    @Scripts.Render("~/Scripts/orders")

    <script>

        $(document).ready(OrdersPageController.init);

    </script>
}