@model IEnumerable<Odin.Data.Core.Models.Order>
    @{
        ViewBag.Title = "Orders Page";
        Layout = "~/Views/Shared/_Common.cshtml";
    }

<div class="container-fluid" id="list">
    <div id="search">
        <input id="searchbox" /><button>Search</button>
    </div>


    @*<div>
            <img class="arrow up name" src="~/Content/Images/icn_up_arrow.png" />
            <img class="arrow down name noinit" src="~/Content/Images/icn_down_arrow.png" />
            <img class="arrow upsel name noinit" src="~/Content/Images/icn_up_sel_arrow.png" />
        </div>*@
    <ul class="container-fluid">
        <li class="header row">
            <div class="col-md-2">
                <label>Transferee Sort +/-</label>
            </div>
            <div class="col-md-2">
                <label>Authorized Tasks  +/-</label>
            </div>
            <div class="col-md-2">
                <label>Manager  +/-</label>
            </div>
            <div class="col-md-2">
                <label>Pre-Trip +/-</label>
            </div>
            <div class="col-md-2">
                <label>Final Arrival +/-</label>
            </div>
            <div class="col-md-2">
                <label>Notifications +/-</label>
            </div>
        </li>
        @if (Model == null)
        {
            return;
        }
        @for (int j = 0; j < Model.Count(); j++)
        {
            var order = (Odin.Data.Core.Models.Order)Model.ElementAt(j);
            
            <li class="row clickable" data-order-id="@order.Id">
                <div class="col-md-2">
                    <label class="header">Transferee</label>
                    <p class="eeName">@order.Transferee.FullName</p>
                    <p class="rmcName">@order.Rmc</p>
                    <p class="clientName">@order.Client</p>
                </div>
                @{
                    int at = 0;
                    decimal s = 0;
                    decimal c = 0;
                    decimal cwid = 25;
                    decimal swid = 50;
                    decimal atwid = 100;
                    for (int i = 0; i < order.Services.Count; i++)
                    {
                        if (order.Services.ElementAt(i).Selected == true)
                        {
                            at += 1;
                        }
                        if (order.Services.ElementAt(i).ScheduledDate.HasValue)
                        {
                            s += 1;
                        }
                        if (order.Services.ElementAt(i).CompletedDate.HasValue)
                        {
                            c += 1;
                        }
                    }
                    cwid = (at == 0 ? 0 : c / at * 100);
                    swid = (at == 0 ? 0 : s / at * 100);
                    atwid = swid == 0?100:100;

                }
            <div class="col-md-2">
                <label class="header">Completed/Scheduled/Assigned</label>
                <div class="progressBar" title="Tasks">
                    <span class="progressBar__progress progressBar__auth" style="width:@Decimal.ToInt32(atwid)%" title="Authorized Tasks"></span>
                    <span class="progressBar__progress progressBar__sched" style="width:@Decimal.ToInt32(swid)%" title="Scheduled Tasks"></span>
                    <span class="progressBar__progress progressBar__comp" style="width:@Decimal.ToInt32(cwid)%" title="Completed Tasks"></span>
                </div>
            </div>
            <div class="col-md-2">
                <label class="header">Manager</label>
                <p>@order.ProgramManager.FullName</p>
                <p class="subTitle">@order.ProgramManager.PhoneNumber</p>
            </div>
            <div class="col-md-2">
                <label class="header">Pre-Trip</label>
                <p>@order.PreTripDate</p>
            </div>
            <div class="col-md-2">
                <label class="header">Final Arrival</label>
                <p>@order.EstimatedArrivalDate</p>
            </div>
            <div class="col-md-2">
                <label class="header">Notifications</label>
                <p>2*</p>
            </div>
        </li>
        }
    </ul>
</div>

    @Styles.Render("~/Styling/orders")

    @section scripts
{
        @Scripts.Render("~/Scripts/orders")

        <script>
            $(document).ready(OrdersPageController.OrdersPageInit);
        </script>
    }