@using Odin.Data.Core.Models
@model Odin.ViewModels.Orders.Transferee.OrdersTransfereeViewModel
@{
    ViewBag.Title = "Transferee Page";
    Layout = "~/Views/Shared/_Common.cshtml";
}

<nav class="navbar navbar-default" id="transfereeSideNav">
    @if (User.IsInRole(UserRoles.Transferee))
    {
        @Html.Partial("~/Views/Orders/Partials/_TransfereeSideNav.cshtml", Model)
    }
    else
    {
        @Html.Partial("~/Views/Orders/Partials/_ConsultantSideNav.cshtml", Model)
    }
</nav>

<div class="container" id="orderContainer">
    @*@Html.Partial("~/Views/Orders/Partials/_Intake.cshtml")*@
</div>

@section scripts
{
    @Scripts.Render("~/Scripts/dw_loader.js")
    @Styles.Render("~/Styling/transferee")
    @Scripts.Render("~/Scripts/transferee")

    <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.2.0/mapquest.js"></script>
    <script>
            var currentOrderId = '@Model.Id';
            $(document).ready(function () {
                OrdersPageController.TransfereeInit();

                $('#backButton').click(function() {
                    window.location.href = "/orders";
                });
            });

    </script>
}
@section styles
{
    <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.2.0/mapquest.css" />
}
