@{
    ViewBag.Title = "Transferee Page";
    Layout = "~/Views/Shared/_Common.cshtml";
}

<div class="row">
    <div class="col-md-2">
        <img src="~/Content/Images/icn_person.png"/>
        <p>Victoria A. Sporer</p>
        <ul>
            <li class="unselectable">&nbsp;</li>
            <li class="item selected" data-panel="intake"><img src="~/Content/Images/icn_intake.png"/><span>Intake</span></li>
            <li class="item" data-panel="details"><img src="~/Content/Images/icn_details.png"/><span>Details</span></li>
            <li class="item" data-panel="rentals"><img src="~/Content/Images/icn_rentals.png"/><span>Rentals</span></li>
            <li class="item" data-panel="history"><img src="~/Content/Images/icn_history.png"/><span>History</span></li>
            <li class="unselectable">&nbsp;</li>
            <li class="unselectable">&nbsp;</li>
            <li class="item" data-panel="messages"><img src="~/Content/Images/icn_internal_messages.png"/><span>Messages</span></li>
            <li class="item" data-panel="calendar"><img src="~/Content/Images/icn_internal_calendar.png"/><span>Calendar</span></li>
        </ul>
    </div>
    <div class="col">
        @Html.Partial("~/Views/Orders/Partials/_Intake.cshtml")
        @Html.Partial("~/Views/Orders/Partials/_Details.cshtml")
        @Html.Partial("~/Views/Orders/Partials/_Rentals.cshtml")
        @Html.Partial("~/Views/Orders/Partials/_History.cshtml")
        @Html.Partial("~/Views/Orders/Partials/_Messages.cshtml")
        @Html.Partial("~/Views/Orders/Partials/_Calendar.cshtml")
    </div>
</div>

@Styles.Render("~/Styling/transferee")
@Scripts.Render("~/Scripts/transferee")

@section scripts
{
    <script>
        $(document).ready(OrdersPageController.TransfereeInit);
    </script>
}
