@model IEnumerable<Odin.ViewModels.Shared.PhotoViewModel>

<!-- bootstrap carousel -->
<div id="photosCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        @for (int i = 0; i < Model.Count(); i++)
        {
            var indicatorClass = i > 0 ? "" : "active";
            <li data-target="#photosCarousel" data-slide-to="@i" class="@indicatorClass" }></li>
        }
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

        @foreach (var photo in Model)
        {
            var itemClass = "item";
            if (photo == Model.First())
            {
                itemClass = itemClass + " active srle";
            }
            <div class="@itemClass">
                <img src="@photo.PhotoUrl" alt="" class="img-responsive">
                <div class="carousel-caption">
                    <p></p>
                </div>
            </div>
        }
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#photosCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#photosCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

    <!-- Thumbnails -->
    <ul class="thumbnails-carousel clearfix">
        @foreach (var photo in Model)
        {
            <li><img src="@photo.PhotoUrl" alt=""></li>
        }
    </ul>
</div>

@Styles.Render("/Content/css/shared/thumbnails.carousel.css")
@Scripts.Render("~/Scripts/thumbnails.carousel.js")

<script>
    $(document).ready(function () {
        $('.thumbnails-carousel').thumbnailsCarousel();
    });
</script>
