
@using Odin.Data.Core.Models
@model Odin.ViewModels.BookMarklet.BookMarkletViewModel
@{
    Layout = "~/Views/BookMarklet/Shared/_BookMarklet.cshtml";
}

@Scripts.Render("~/bundles/bookmarklet")
@using (Html.BeginForm("Index", "BookMarklet", FormMethod.Post, new {@class= "bm-container", role = "form" }))
{
    @*AntiForgeryToken purposefully left out because sets x-frame-options*@
    if (User.IsInRole(UserRoles.Transferee))
    {
        @Html.HiddenFor(o => Model.Orders.First().Id, new{ Name = "OrderId"})
    }
    else
    {
        <div class="form-group bm-form-group">
            <label>Transferee:</label>
            @Html.DropDownList("OrderId", new SelectList(Model.Orders.ToList(), "Id", "TransfereeFullName"), new { @class = "form-control" })
        </div>
    }

    <div class="form-group bm-form-group">
        <label>Notes:</label>
        <p class="bm-sub-label">Written notes about the property you want to include.</p>
        @Html.TextArea("Notes", new {@class = "form-control"})
    </div>
    <div class="bm-btn-container">
        <button id="btnAdd" class="btn btn-default btn-lg" type="button">Add Property to Homes</button>
    </div>
    @Html.HiddenFor(m => Model.PropertyUrl)
}
<script type="text/javascript">
    $(document).ready(BookMarkletController.init);
</script>


    
