<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
 </head>
<body>
    <div class="container body-content">
        <div id="main">
            <div id="caption">
                <img src="~/Content/Images/dwellworks_icon.png" />
                <p>&nbsp;</p>
                <p>Odin</p>
            </div>
            <div id="icons">
                <div class="icons_notify icons_notify_messages">
                    <span>10</span>
                </div>
                <div class="icons_notify icons_notify_alerts">
                    <span>1</span>
                </div>
                <div class="icons_notify icons_notify_appts">
                    <span>1</span>
                </div>
                <div>
                    <img src="~/Content/Images/icn_chat_1.png">
                    <img src="~/Content/Images/icn_profile.png" />
                    <img src="~/Content/Images/icn_note_1.png" />
                    <img src="~/Content/Images/icn_cal_1.png" />
                </div>
            </div>
            @RenderBody()
         </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Dwellworks</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/lib")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
